.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.main h1 {
    text-align: center;
}

.playerScoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: .5rem 0;
    padding: 0 2rem;
    box-sizing: border-box;
    gap: .5rem;
}

.playerScoreContainer * {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.playerScore{
    flex-shrink: 0;
}

.playerName {
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .playerScoreContainer * {
        font-size: 3rem;
    }
}