html,
body {
    background-color: black;
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html * {
    font-family: 'Times New Roman', Times, serif !important;
}

button {
    background-color: #222222;
    color: white;
    border: 1px solid grey;
}

@media (hover: hover) {
    button:hover {
        background-color: #888888;
    }
}

input {
    background-color: black;
    color: white;
    border: 1px solid white;
    min-width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*:focus {
    outline: none;
}

.leader {
    color: goldenrod;
}

.self {
    border: 2px solid green;
}
