html, body {
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif !important;
}

button {
    background-color: #222222;
    color: white;
    border: 1px solid white;
}

button:hover {
    background-color: #888888;
}

input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    min-width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*:focus {
    outline: none;
}