.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;
}

.main h1 {
    font-size: 3rem;
}

.roomForm {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

.roomForm * {
    min-height: 3rem;
    min-width: 100%;
    font-size: 1.5rem;
}

.roomForm div {
    margin: 4rem 0;
}

@media (min-width: 1200px) {

    .main h1 {
        font-size: 4rem;
    }

    .roomForm * {
        font-size: 2rem;
    }
}

