.main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    box-sizing: border-box;
}

.main div {
    width: 100%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    font-size: 3rem;
    margin-top: 0;
}

.main h2 {
    margin-bottom: 0;
    align-self: flex-start;
}

.main button {
    font-size: 1.5rem;
    min-width: 100%;
    margin: 1rem 0;
}

.nameList {
    border: 1px solid white;
    min-height: 15rem;
    min-width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.nameList li {
    text-align: center;
    min-width: 100%;
    margin: .5rem;
}

.nameForm {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.nameForm * {
    font-size: 1.5rem;
}

.nameForm p {
    color: red;
    margin: 0;
    margin-top: 1rem;
}

@media (min-width: 1200px) {
    .main { 
        justify-content: space-around;
        padding: 0;
    }

    .main * {
        max-width: 30%;
    }

    .main h1 {
        font-size: 4rem;
    }

    .main h2 {
        font-size: 2rem;
        max-width: 100%;
    }


    .main button {
        min-width: 0;
        padding: .2rem 1rem;
    }

    .nameForm {
        align-items: center;
    }

    .nameForm label {
        text-align: left;
        min-width: 100%;
    }
    
}